<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Page Problem</title>
</head>
<body>
	<div>
		<span>Oops!</span><br/>
		<p>Path: <span th:text="${path}"></span></p>
		<p>Status Code: <span th:text="${status}"></span></p>
		<p>Timestamp: <span th:text="${timestamp}"></span></p>
		<p>Error: <span th:text="${error}"></span></p>
		<p>Exception: <span th:text="${exception}"></span></p>
		<p>Message: <span th:text="${message}"></span></p>
		<p>Errors: <span th:text="${errors}"></span></p>
		<p>Trace: <span th:text="${trace}"></span></p>
	</div>
</body>
</html>